<!DOCTYPE html>
<html>
<head><title>Votar</title></head>
<body>

<div style="text-align:center; margin-bottom: 20px;">
    <img src="/static/logo-mdf.png" alt="Logo MDF" width="300">
</div>

<h1>Votação MDF</h1>
<form method="POST">
    Nome: <input type="text" name="nome"><br>
    Instagram: <input type="text" name="instagram"><br>
    Quem te convidou? <input type="text" name="convidado"><br>
    Categoria:
    <select name="categoria">
        <option value="sala">Sala</option>
        <option value="cozinha">Cozinha</option>
        <option value="quarto">Quarto</option>
    </select><br>
    <button type="submit">Votar</button>
</form>

</body>
</html>
